{% extends 'main/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home | CINESMART{% endblock %}</title>
</head>
<body>
    {% load static %}
    {% block content %}
    <header >
        <div class="header-container">
            <div class="logo-section">
                <h1 id="cinesmart-logo">CINESMART</h1>
            </div>
            <div class="sidebar-section">
                <aside id="sidebar">
                    <div id="sidebar-content">
                        <div class="logo">
                            <h2>CINESMART</h2>
                        </div>
                        <hr class="MuiDivider-root MuiDivider-fullWidth css-1px5dlw">
                        <div class="categories">
                            <h3>Categories</h3>
                            <ul>
                                <li>
                                    <a href="popular.html">
                                        <img class="icon-img" src="{% static 'main/images/popular.jpg' %}" alt="Popular Icon"> Popular
                                    </a>
                                </li>
                                <li>
                                    <a href="top_rated.html">
                                        <img class="icon-img" src="{% static 'main/images/top rated.jpg' %}" alt="Top Rated Icon"> Top Rated
                                    </a>
                                </li>
                                <li>
                                    <a href="upcoming.html">
                                        <img class="icon-img" src="{% static 'main/images/upcoming.jpg' %}" alt="Upcoming Icon"> Upcoming
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="genres">
                            <h3>Genres</h3>
                            <ul>
                                <li>
                                    <a href="action.html">
                                        <img class="icon-img" src="{% static 'main/images/action.jpg' %}" alt="Action Icon"> Action
                                    </a>
                                </li>
                                <li>
                                    <a href="adventure.html">
                                        <img class="icon-img" src="{% static 'main/images/adventure.jpg' %}" alt="Adventure Icon"> Adventure
                                    </a>
                                </li>
                                <li>
                                    <a href="animation.html">
                                        <img class="icon-img" src="{% static 'main/images/animation.jpg' %}" alt="Animation Icon"> Animation
                                    </a>
                                </li>
                                <li>
                                    <a href="comedy.html">
                                        <img class="icon-img" src="{% static 'main/images/comedy.jpg' %}" alt="Comedy Icon"> Comedy
                                    </a>
                                </li>
                                <li>
                                    <a href="drama.html">
                                        <img class="icon-img" src="{% static 'main/images/drama.jpg' %}" alt="Drama Icon"> Drama
                                    </a>
                                </li>
                                <li>
                                    <a href="fantasy.html">
                                        <img class="icon-img" src="{% static 'main/images/fantasy.jpg' %}" alt="Fantasy Icon"> Fantasy
                                    </a>
                                </li>
                                <li>
                                    <a href="horror.html">
                                        <img class="icon-img" src="{% static 'main/images/horror.jpg' %}" alt="Horror Icon"> Horror
                                    </a>
                                </li>
                                <li>
                                    <a href="mystery.html">
                                        <img class="icon-img" src="{% static 'main/images/mystery.jpg' %}" alt="Mystery Icon"> Mystery
                                    </a>
                                </li>
                                <li>
                                    <a href="romance.html">
                                        <img class="icon-img" src="{% static 'main/images/romance.jpg' %}" alt="Romance Icon"> Romance
                                    </a>
                                </li>
                                <li>
                                    <a href="scifi.html">
                                        <img class="icon-img" src="{% static 'main/images/sci-fi.jpg' %}" alt="Sci-Fi Icon"> Sci-Fi
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </aside>
            </div>
        </div>
    </header>
    <div id="auth-buttons">
        {% if user.is_authenticated %}
            <div id="user-profile">
                {% if user.userprofile.profile_picture %}
                    <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" class="profile-icon">
                {% else %}
                    <img src="{% static 'main/images/default_profile.png' %}" alt="Default Profile Picture" class="profile-icon">
                {% endif %}
                <span class="username">{{ user.username }}</span>
                <form action="{% url 'logout' %}" method="post" class="logout-form">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </div>
        {% else %}
            <button id="signup-button">Signup</button>
            <button id="login-button">Login</button>
        {% endif %}
    </div>

    <!-- The Modal for Signup -->
    <div id="signup-modal" class="modal">
        <div class="modal-content">
            <span class="close" id="close-signup">&times;</span>
            <div class="form-container">
                <h1>Signup</h1>
                <form action="{% url 'signup' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ signup_form.as_p }}
                    <button type="submit">Signup</button>
                </form>
                <p style="text-align: center; margin-top: 20px;">
                    Already have an account? 
                    <a href="#" id="go-to-login">Login here</a>
                </p>
            </div>
        </div>
    </div>

    <!-- The Modal for Login -->
    <div id="login-modal" class="modal">
        <div class="modal-content">
            <span class="close" id="close-login">&times;</span>
            <div class="form-container">
                <h1>Login</h1>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <button type="submit">Login</button>
                </form>
                <p style="text-align: center; margin-top: 20px;">
                    Don't have an account? <a href="#" id="go-to-signup">Signup here</a>
                </p>
            </div>
        </div>
    </div>
        <!-- Your main content here -->
        <main>
            <section id="search"> 
                <!-- <div class="MuiToolbar-root MuiToolbar-gutters MuiToolbar-regular jss4 css-i6s8oy"> -->
                <input type="text" id="search-bar" placeholder="Search for movies...">
            </section>
            <!-- <section id="filters">
                <div id="filter-genre">
                    <label for="genre">Genre:</label>
                    <select id="genre">
                        <option value="all">All</option>
                        <option value="action">Action</option>
                        <<option value="adventure">Adventure</option>
                        <option value="animation">Animation</option>
                        <option value="biography">Biography</option>
                        <option value="comedy">Comedy</option>
                        <option value="crime">Crime</option>
                        <option value="documentary">Documentary</option>
                        <option value="drama">Drama</option>
                        <option value="family">Family</option>
                        <option value="fantasy">Fantasy</option>
                        <option value="history">History</option>
                        <option value="horror">Horror</option>
                        <option value="music">Music</option>
                        <option value="musical">Musical</option>
                        <option value="mystery">Mystery</option>
                        <option value="romance">Romance</option>
                        <option value="sci-fi">Sci-Fi</option>
                        <option value="sport">Sport</option>
                        <option value="thriller">Thriller</option>
                        <option value="war">War</option>
                        <option value="western">Western</option> 
                    </select>                
                </div>
            </section> -->
            <section id="movie-list">
                <!-- <h2>Recommended Movies</h2> -->
                <div id="movies"></div>
            </section>
        </main>
        <div id="movie-detail-modal" class="modal">
            <div class="modal-content">
              <span class="close" id="close-modal">&times;</span>
              <div id="modal-body">
                <!-- Movie details will be injected here -->
              </div>
            </div>
          </div>
        <aside id="chatbot">
            <button id="chatbot-button">CineBot</button>
        </aside>
        {% endblock %}
        <script src="{% static 'main/js/script.js' %}"></script>
        {% block extra_scripts %}  
        
        {% endblock %}
    
   
</body>
</html>
